<app-header />
<main class="flex justify-center items-center">
    <h1 class="text-3xl text-center">Bienvenido A Pequi</h1>
</main>

<div class="bottomNav fixed bottom-0 w-full">
    <nav style="border:1px solid blue" class="md:hidden bottom-0 w-full bg-gray-700 text-xs">
        <ul class="flex justify-around items-center text-white text-center opacity-75 text-lg font-bold">
            <li class="p-4 hover:bg-gray-500">
                <a href="#">
                    <span>Link 1</span>
                    <svg class="h-6 w-6 fill-current mx-auto" viewBox="0 0 20 20">
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
</div>