<app-header />
<main class="flex justify-center items-center">
    <h1 class="text-3xl text-center">Bienvenido A Pequi</h1>
</main>

<div class="bottomNav fixed bottom-0 w-full">
    <nav style="border:1px solid blue" class="md:hidden bottom-0 w-full bg-gray-700 text-xs">
        <ul class="flex justify-around items-center text-white text-center opacity-75 text-lg font-bold">
            <li class="p-4 hover:bg-gray-500">
                <a href="#">
                    <span>Link 1</span>
                    <svg class="h-6 w-6 fill-current mx-auto" viewBox="0 0 20 20">
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
</div>
<form class="max-w-md mx-auto mt-8 p-6 bg-white shadow-md rounded-md" (ngSubmit)="submitForm()" [formGroup]="myForm">
    <div class="mb-4">
      <label for="numeroDocumento" class="block text-gray-700 text-sm font-bold mb-2">Número de Documento:</label>
      <input type="text" id="numeroDocumento" formControlName="numeroDocumento"
             class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" required>
    </div>
  
    <div class="mb-4">
      <label for="numeroSerie" class="block text-gray-700 text-sm font-bold mb-2">Número de Serie:</label>
      <input type="text" id="numeroSerie" formControlName="numeroSerie"
             class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" required>
    </div>
  
    <div class="mb-4">
      <label for="tipoTransaccion" class="block text-gray-700 text-sm font-bold mb-2">Tipo de Transacción:</label>
      <select id="tipoTransaccion" formControlName="tipoTransaccion"
              class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" required>
        <option value="prestamo">Préstamo</option>
        <option value="devolucion">Devolución</option>
      </select>
    </div>
  
    <button type="submit" [disabled]="!myForm.valid"
            class="w-full bg-blue-500 text-white py-2 px-4 rounded-md focus:outline-none hover:bg-blue-600">
      Enviar
    </button>
  </form>
  