<header class="bg-teal-400">
    <nav class="flex justify-between w-full bg-blue-500 text-white p-4">
        <a href="#"><span class="font-semibold text-xl tracking-tight">Pequi</span></a>
        <div class="md:items-center md:w-auto flex">
            <div class="md:flex hidden">
                <a class="block md:text-white mr-4 hover:text-red-500" href="#">equipos</a>
                <a class="block md:text-white mr-4 hover:text-red-500" href="#">historial</a>
                <a class="block md:text-white mr-4 hover:text-red-500" href="#">notificaciones</a>
                <a class="block md:text-white mr-4 hover:text-red-500" href="#">registrar aprendices</a>
                <a href="#" class="flex items-center bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">
                    <i class="fas fa-door-open mr-2"></i> Salir
                </a>
            </div>
        </div>
    </nav>
</header>
